<nav class="navbar navbar-light bg-dark">
<h3 style="padding-left:10px; color:white">Event<span style="color:red">Planner</span> </h3>
<span> <%=link_to 'New Event',new_event_path, class:"btn btn-warning" %></span>
</nav>